


<form action="rol/asignar-rol" method="Get">
    <div>
        
        <select  class="form-control" id="conductores">

            <% arregloConductores.forEach( (conductor)=> { %>
                <option
                    value="<%=conductor.id %>"
                > 
                    <%=conductor.nombre  %> 
                    <%=conductor.apellido  %>
                </option>
            <% }) %>

        </select>
    </div>  
    <br>
    <div class="row">
        <button>Asignar</button>
    </div>    
</form>



