
<form action="rol/asignar-rol" method="Get">
    <div>
        <select>
      <option value="<%=respuesta%>">Administrador</option>

</select>
    </div>  
    <br>
    <div class="row">
        <button>Asignar</button>
    </div>    
</form>