<form method="get" action="//inicio">

    <div class="row">
        <div class="col-sm-9">

            <div class="form-group">

                <label for="busqueda">Busqueda</label>

                <input id="busqueda"
                       type="text"
                       name="busqueda"
                       class="form-control">
            </div>

        </div>
        <div class="col-sm-3">

            <button
                    class="btn btn-outline-success btn-block espaciado-busqueda">

                Buscar

            </button>

        </div>
    </div>
</form>